# **Data Type - List**



*   Lists are used to store multiple items in a single variable.
*   List items are ordered, changeable, and allow duplicate values.
*   List items are indexed, the first item has index [0], the second item has index [1].

**Creating a list** : Lists are created using square brackets [].

In [ ]:
# List of customer orders
orders = [
    {"order_id": 1, "customer": "Alice", "total": 250},
    {"order_id": 2, "customer": "Bob", "total": 150},
    {"order_id": 3, "customer": "Charlie", "total": 300},
    {"order_id": 4, "customer": "Alice", "total": 400},
    {"order_id": 5, "customer": "Eve", "total": 100}
]

# **Access**

**Through Indexing** : You can access list elements using indexing, starting from 0 for the first element.

In [ ]:
first_order = orders[0]
print(first_order)#First Element

{'order_id': 1, 'customer': 'Alice', 'total': 250}

**Through Negative Indexing** : use negative indices to access elements from the end of the list.

In [ ]:
latest_order = orders[-1]  # Accesses the last element

print(latest_order)

{'order_id': 6, 'customer': 'Frank', 'total': 200}

**Slicing** : You can access a portion of a list using slicing.

In [ ]:
sliced_order = orders[1:3]  # Accesses elements from index 1 to 2
print(sliced_order)

[{'order_id': 2, 'customer': 'Bob', 'total': 150}, {'order_id': 3, 'customer': 'Charlie', 'total': 300}]

# **Manipulating Lists**

**Methods**:

**1]Adding Elements**

i) **append()**: Adds a single element to the end of the list.

In [ ]:
# New order
new_order = {"order_id": 6, "customer": "Frank", "total": 200}

# Add the new order to the list
orders.append(new_order)

print(new_order)

{'order_id': 6, 'customer': 'Frank', 'total': 200}

ii) **extend()**: Adds all elements of an iterable (e.g., another list) to the end of the list.

In [ ]:
new_order={"order_id":7,"customer":"Grace","total":300}
orders.extend(new_order)
print(new_order)

{'order_id': 7, 'customer': 'Grace', 'total': 300}

iii) **insert()**: Inserts an element at a specific position in the list.

In [ ]:
new_order={"order_id":8,"customer":"Hank","total":400}
orders.insert(2,new_order)
print(new_order)

{'order_id': 8, 'customer': 'Hank', 'total': 400}

**2]Removing Elements**

i) **remove()**: Removes the first occurrence of the specified value.

In [ ]:
from os import remove
remove_order = {"order_id": 3, "customer": "Charlie", "total": 300}
orders.remove(remove_order)
print(remove_order)

{'order_id': 3, 'customer': 'Charlie', 'total': 300}

ii) **pop()**: Removes and returns the element at the specified index (default is the last element).

In [ ]:
latest_order = orders.pop()  # Removes and returns the last element
print(latest_order)

customer


iii) **clear()**: Removes all elements from the list.

In [ ]:
orders.clear()  # []

**3] Modifying Elements**

*  You can modify an element at a specific index by assignment.

In [ ]:
# List of customer orders
orders = [
    {"order_id": 1, "customer": "Alice", "total": 250},
    {"order_id": 2, "customer": "Bob", "total": 150},
    {"order_id": 3, "customer": "Charlie", "total": 300},
    {"order_id": 4, "customer": "Alice", "total": 400},
    {"order_id": 5, "customer": "Eve", "total": 100}
]

orders[0]={"order_id": 6, "customer": "Frank", "total": 200}
print(orders)

[{'order_id': 6, 'customer': 'Frank', 'total': 200}, {'order_id': 2, 'customer': 'Bob', 'total': 150}, {'order_id': 3, 'customer': 'Charlie', 'total': 300}, {'order_id': 4, 'customer': 'Alice', 'total': 400}, {'order_id': 5, 'customer': 'Eve', 'total': 100}]

**4] Sorting and Reversing**

**sort():** Sorts the list in place (default is ascending order).

In [ ]:

orders.sort(key=lambda x: x["total"], reverse=True)
print(orders)

[{'order_id': 4, 'customer': 'Alice', 'total': 400}, {'order_id': 3, 'customer': 'Charlie', 'total': 300}, {'order_id': 6, 'customer': 'Frank', 'total': 200}, {'order_id': 2, 'customer': 'Bob', 'total': 150}, {'order_id': 5, 'customer': 'Eve', 'total': 100}]

**reverse()**: Reverses the list in place.

In [ ]:
orders.reverse()
print(orders)

[{'order_id': 5, 'customer': 'Eve', 'total': 100}, {'order_id': 2, 'customer': 'Bob', 'total': 150}, {'order_id': 6, 'customer': 'Frank', 'total': 200}, {'order_id': 3, 'customer': 'Charlie', 'total': 300}, {'order_id': 4, 'customer': 'Alice', 'total': 400}]